body{
    background-color:#091A28;
    font-family: "Roboto", sans-serif;
    color: white;
   margin: 0;
   padding: 0;
}
header{
    /* background-color: rgb(214, 229, 128); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .lista{
    display: flex;
    gap: 1.1em;
}

a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}

img{
    width: 50%;
    height: 50%;
    
}
footer{
    text-align: center;  
}
