* {
   box-sizing: border-box;
}
/* desing body */
body {
    background: linear-gradient(50deg, #091A28 50%, #072946 85%);
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header{
    background-color: #091A28;
    position: fixed;
    /* top: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    /* border-bottom: white 2px solid; */
}
.menu .lista{
    display: flex;
    gap: 1.1em;
}
header a i{
    cursor: pointer;
    /* background-color: #FFD700; */
    padding: 8px 5px;
    border-radius: 50%;
    border: 2px solid white;
}
a i{
    color: white;
    font-size: 23px;
    cursor: pointer;
}
a :hover{
    color: #FFD700;

}

.lista a{
    text-decoration: none;
    color: white;
    
    padding: 8px;
    border-radius: 5px;
}
.lista a:hover{
    background-color: #FFD700;
    color: black;
    transition: all 0.5s ease;
}
li{
    list-style: none;
}

/* seccion principal */

#seccion-principal{
    padding: 2% 10%;
    margin-top: 70px;
    width: 100%;
}
img{
    width: 400px;
    height: 400px;
}
.acerca-de h2{
    font-size: 30px;

}
.acerca-de h2 span{
    color: #FFD700;
    font-size: 40px;
     
}
.acerca-de p{
    font-size: 20px;
    text-justify: justify;
}
.acerca-de p a{
    color: #FFD700;
    text-decoration: none;
}



.seccion-1{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    padding: 5% 0;
}
.seccion-2{
    text-align: center;
}


/* footer */
.redes-sociales{
    display: flex;
    gap: 2em;
    justify-content: center;
}
.redes-sociales a{
   width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.redes-sociales a:hover{
    /* background-color: #FFD700; */
    /* color: black; */
    border-color: #FFD700;
    color: #FFD700;
    transition: all 0.5s ease;
}
footer{
    /* background-color: #072946; */
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto;
    border-top: white 2px solid;
}
/* footer p{
    color: black;
    background-color: #FFD700;
    width: 100%;
    padding: 12px;
    margin-bottom: auto;
} */
