* {
   box-sizing: border-box;
}
/* desing body */
body {
    background-color:#091A28;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header{
    background-color: #091A28;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: white 2px solid;
}
.menu .lista{
    display: flex;
    gap: 1.1em;
}
header a i{
    font-size: 30px;
    cursor: pointer;
    /* background-color: #FFD700; */
    padding:  15px 12px;
    border-radius: 50%;
    border: 2px solid white;
}
i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
i:hover{
    color: #FFD700;

}

.lista a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
}
.lista a:hover{
    background-color: #FFD700;
    color: black;
    transition: all 0.5s ease;
}
li{
    list-style: none;
}

/* seccion principal */
img{
    width: 50%;
    height: 60%;
    
}
#seccion-principal{
    padding: 0 10%;
}


/* footer */
.redes-sociales{
    display: flex;
    gap: 2.5em;
    justify-content: center;
}
footer{
    background-color: #072946;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto;
    border-top: white 2px solid;
}
/* footer p{
    color: black;
    background-color: #FFD700;
    width: 100%;
    padding: 12px;
    margin-bottom: auto;
} */
